.ChessTableItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  color: #000;
  text-align: center;
  font-size: 2rem;
  height: 2rem;
  padding: 1rem;
  cursor: pointer;

  &.is-black {
    background-color: #000;
    color: #fff;
  }

  &.current-position {
    background-color: green;
    border-color: #000;
    color: #000;
  }

  &.stepped {
    font-weight: 700;
    background-color: yellow;
    color: #000;
  }

  &:hover {
    background-color: rgb(240, 187, 88);
    color: #fff;
    font-weight: 700;
  }
}
