$innerWidth: 1140px;
$footerBackground: #f9f9f9;

.App {
  &__header {
    width: $innerWidth;
    max-width: 100%;
    margin: 0 auto 1rem;
    background-color: #f9f9f9;
  }

  &__footer {
    width: $innerWidth;
    max-width: 100%;
    margin: 0 auto 1rem;

    &__start {
      font-size: 2rem;
      text-align: center;
      margin: 1rem 0;
      padding: 2rem;
      background-color: $footerBackground;
    }

    &__movements-list {
      font-size: 1.5rem;
      margin: 1rem 0;
      padding: 1rem;
      background-color: $footerBackground;
    }
  }

  &__content {
    margin: 0 auto;
    width: $innerWidth;
    max-width: 100%;
  }
}
